<h1>Samples#index</h1>
<p>Find me in app/views/samples/index.html.erb</p>
<%= form_tag '/samples.zip',  method: "get",
target: '_blank' do %>
  <%= label_tag :year, "Year" %>
  <%= select_tag :year, id: :year %>
  <%= label_tag :region, "Region" %>
  <%= select_tag :region, id: :region %>
  <%= submit_tag 'Submit' %>
<% end %>

<%= content_tag :div, id: "domains-data", style: {display: 'none'}, data: {domains: @domains} do %>
<% end %>
