<%= link_to '<< SEFSC Website', 'http://www.sefsc.noaa.gov'%>
<h3> The Data Portal </h3>
<p> The Southeast Fisheries Science Center, along with other governmental, academic, and private partners,
  has been conducting a visual survey of reef fish species in the Florida Keys
  since 1978. This survey has since been expanded to include the Dry Tortugas and
  Southeast Florida Region. All the data from this survey collected since 1999 is
  now available as spreadsheet files for general use as part of this data portal.
  To learn more about the history, sampling design, and statistical design of the
  survey, please read <%= link_to 'http://www.sefsc.noaa.gov/species/fish/FAME%20Pubs/Smith%20et%20al%202011%20Fish%20Res%20RVC%20design.pdf',
  :target => '_blank' do %>
  Smith <i>et al.</i> 2011
  <% end %>.
</p>
 <h3> Available Data </h3>
 <ol>
   <li> <%= link_to 'Sample Data',  controller: 'samples', action: 'index' %> </br>
     Diver sampled data, including: species counts, lengths (in cm), and
     geographic data, such as latitude and longitude in decimal degrees.
   </li>
   <li> <%= link_to 'Stratum Data', controller: 'strata', action: 'index' %> </br>
     Information on the number of primary sample units per stratum (NTOT), for
     each year and region, as well as the length to a side for primary sample units
     in each stratum (GRID_SIZE).
   </li>
   <li> <%= link_to 'Taxonomic Data', controller: 'taxa', action: 'index' %> </br>
     Taxonomic and life history data for species observed in the Reef Visual Census.
     Includes scientific and common names for species observed, as well as the species
     code (first three letters of the generic name, and first four letters of the
     specific name). Also includes life history data for select species: LM -
     median length at maturity, LC - minimum length at capture, WLEN_A -
     linear coefficient of the allometric growth equation in g/mm, WLEN_B -
     exponential coefficient of the allometric growth equation.
   </li>
   <li> <%= link_to 'Benthic Data', controller: 'benthic', acton: 'index'%> </br>
     Benthic data collected during reef visual census, including information on
     coral cover and hard/soft vertical relief.
   </li>
 </ol>
 <h3> RVC Data R package </h3>
 <p> The Southeast Fisheries Science center has produced an R package to help
   with accessing and analyzing Reef Visual Census Data. It can be accessed at
   its <%= link_to 'Github page, here', 'http://www.github.com/harryganz/rvc',
   :target => '_blank' %>.
   It can be used to import RVC data into R, and produce commonly used summary statistics
   such as density, abundance, and biomass. </p>
