<section class="usa-section grid-container">
  <%= render "shared/breadcrumbs" %>

  <h1>RVC Data Portal</h1>
  <p class="usa-prose">
    The Southeast Fisheries Science Center, along with other governmental, academic, and private partners, has been conducting a visual survey of reef fish species in the Florida Keys since 1978. This survey has since been expanded to include the Dry Tortugas, Southeast Florida Region and U.S Caribbean. All the data from this survey collected since 1999 is now available as .csv files for general use as part of this data portal.  To learn more about the history, sampling design, and statistical design of the survey, please read <a class="usa-link usa-link--external" rel="noreferrer" href="https://doi.org/10.1016/j.fishres.2011.01.012" target="_blank">Smith <i>et al.</i> 2011</a>.
  </p>

  <h2>Available Data</h2>
  <ul class="usa-collection">
    <li class="usa-collection__item maxw-full">
      <div class="usa-collection__body">
        <h3 class="usa-collection__heading"><%= link_to "Sample Data", samples_path, class: "usa-link" %></h3>
        <p class="usa-collection__description">
          Diver sampled data, including: species counts, lengths (in cm), and geographic data, such as latitude and longitude in decimal degrees.
        </p>
      </div>
    </li>
    <li class="usa-collection__item maxw-full">
      <div class="usa-collection__body">
        <h3 class="usa-collection__heading"><%= link_to "Stratum Data", strata_path, class: "usa-link" %></h3>
        <p class="usa-collection__description">
          Information on the number of primary sample units per stratum (NTOT), for each year and region, as well as the length to a side for primary sample units in each stratum (GRID_SIZE).
        </p>
      </div>
    </li>
    <li class="usa-collection__item maxw-full">
      <div class="usa-collection__body">
        <h3 class="usa-collection__heading"><%= link_to "Taxonomic Data", taxa_path, class: "usa-link" %></h3>
        <p class="usa-collection__description">
          Taxonomic and life history data for species observed in the Reef Visual Census.  Includes scientific and common names for species observed, as well as the species code (first three letters of the generic name, and first four letters of the specific name). Also includes life history data for select species: LM - median length at maturity, LC - minimum length at capture, WLEN_A - linear coefficient of the allometric growth equation in g/mm, WLEN_B - exponential coefficient of the allometric growth equation.
        </p>
      </div>
    </li>
    <!--<li class="usa-collection__item maxw-full">
      <div class="usa-collection__body">
        <h3 class="usa-collection__heading"><%= link_to "Benthic Data", benthic_path, class: "usa-link" %></h3>
        <p class="usa-collection__description">
          Benthic data collected during reef visual census, including information on coral cover and hard/soft vertical relief. 
        </p>
      </div>
    </li> -->
  </ul>
</section>

<section class="usa-section usa-section--dark grid-container">
  <h2 class="margin-top-0">RVC Data R package</h2>
  <p>
    The Southeast Fisheries Science center has produced an R package to help with accessing and analyzing Reef Visual Census Data. It can be used to import RVC data into R, and produce commonly used summary statistics such as density, abundance, and biomass.
  </p>
  <%= link_to "https://github.com/jeremiaheb/rvc", class: "usa-button", target: "_blank" do %>
    Get the R package on GitHub
    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
      <%= tag.use href: image_path("sprite.svg#github") %>
    </svg>
  <%- end %>
</section>