<%= link_to '<< Data Portal Home', controller: :home, action: :index %>
<h3>Benthic Data</h3>
<p>Benthic data collected by divers while conducting the reef visual census. To
  download, select a region and year then click download. Available as comma-separated
  values files (csv).</p>
<%= form_tag benthic_path(format: 'csv'), method: :get,
 class: "data-form form-inline" do %>
  <div class="form-group">
    <%= label_tag :region, "Region" %>
    <%= select_tag :region, nil, id: :region, class: 'form-control' %>
    <%= hidden_field_tag :region, nil, {id: "hidden-region"} %>
    <%= label_tag :year, "Year" %>
    <%= select_tag :year, nil, id: :year, class: 'form-control'%>
    <%= hidden_field_tag :year, nil, {id: "hidden-year"} %>
  </div>
  <%= submit_tag 'Download', id: "download-btn", class: "btn btn-default" %>
<% end %>
<%= button_tag 'Reset', id: 'reset-btn', class: 'btn btn-default' %>

<h3>Variables</h3>
<ol>
  <li>REGION: A code indicating the region. DRTO: Dry Tortugas,
  FLA KEYS: Florida Keys, and SEFCRI: Southeast
  Peninsular Florida.</li>
  <li>YEAR: A number indicating the calendar year.</li>
  <li>PRIMARY_SAMPLE_UNIT:  A code indicating the primary sample unit in which a
    sample was collected.</li>
  <li>STATION_NR:  A number indicating the secondary sampling unit within a
  given primary sample unit.</li>
  <li>DEPTH: Average depth, in meters, of secondary sampling unit.</li>
  <li>MAX_HARD_RELIEF: The maximum height, in meters, of hard relief
  (e.g. hard corals, rock).</li>
  <li>MAX_SOFT_RELIEF: The maximum height, in meters, of soft relief
  (e.g. soft corals, sponges).</li>
  <li>AVG_HARD_RELIEF: The average height, in meters, of hard relief.</li>
  <li>HARD_REL_PCT_0: Percentage of hard relief less than 0.2 meters.</li>
  <li>HARD_REL_PCT_1: Percentage of hard relief between 0.2 and 0.5 meters.</li>
  <li>HARD_REL_PCT_2: Percentage of hard relief between 0.5 and 1.0 meters.</li>
  <li>HARD_REL_PCT_3: Percentage of hard relief between 1.0 and 1.5 meters.</li>
  <li>HARD_REL_PCT_4: Percentage of hard relief greater than 1.5 meters.</li>
  <li>PCT_SAND: Percentage of abiotic cover that is sand.</li>
  <li>PCT_HARD_BOTTOM: Percentage of abiotic cover that is hard bottom.</li>
  <li>PCT_RUBBLE: Percentage of abiotic cover that is rubble.</li>
  <li>PCT_CORAL: Percentage of biotic hardbottom that is coral.</li>
  <li>PCT_OCTO: Percentage of biotic hardbottom that is octocoral.</li>
  <li>PCT_SPONGE: Percentage of  biotic hardbottom that is sponge.</li>
</ol>
<%= content_tag :div, id: "domains-data", style: {display: 'none'}, data: {domains: @domains} do %>
<% end %>
